body{
    margin: 0px;
}

nav{
    display: flex;
    flex-shrink: 1;
    justify-content: space-between;
    align-items: center;
}

#logo{
    padding: 30px;
    margin-left: 25px;
}

.headerright{
    display: flex;
    padding: 30px;
}
.lang{
    outline: none;
    border:1px solid white ;
    background: transparent;
    color: white;
    font-size: 15px;
    text-align: center;
    height: 35px;
    width: 80px;
}

.options{
    padding-right: 25px;
}

.page{
    background-image: url(https://assets.nflxext.com/ffe/siteui/vlv3/5ea364b1-8e59-4693-8ad8-f0eaee32d1bf/5b9fdff5-be3d-4fc6-9606-dd1b4002f277/IN-en-20220530-popsignuptwoweeks-perspective_alpha_website_large.jpg);
    background-size:inherit;
    background-repeat: no-repeat;
    min-height: 78vh;
}

.firstpage{
    display: flex;
    flex-direction: column;
}