@font-face{
    font-family: netflix-sans-regular;
    src:url(./Fonts/NetflixSansRegular.ttf) ;
}
@font-face{
    font-family: netflix-sans-bold;
    src:url(./Fonts/NetflixSansBold.ttf) ;
}
@font-face{
    font-family: netflix-sans-thin;
    src:url(./Fonts/NetflixSansThin.ttf) ;
}

body{
    margin: 0px;
}

nav{
    display: flex;
    flex-shrink: 1;
    justify-content: space-between;
    align-items: center;
}

#logo{
    width: 10vw;
    padding: 30px;
    margin-left: 25px;
}

.headerright{
    display: flex;
    align-items: center;
    padding: 30px;
}
.lang{
    border-radius: 5px;
    outline: none;
    border:1px solid white ;
    background: transparent;
    color: white;
    font-size: 15px;
    text-align: center;
    height: 35px;
    width: 80px;
}
.option{
    color: gray;
}

.options{
    padding-right: 25px;
}

.page{
    background-image:radial-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.8)), url(https://assets.nflxext.com/ffe/siteui/vlv3/5ea364b1-8e59-4693-8ad8-f0eaee32d1bf/5b9fdff5-be3d-4fc6-9606-dd1b4002f277/IN-en-20220530-popsignuptwoweeks-perspective_alpha_website_large.jpg);
    background-size:inherit;
    background-repeat: no-repeat;
    min-height: 78vh;
}
.btn{
    border: #e50914;
    font-size: 15px;
    color: white;
    background-color:#e50914 ;
    border-radius: 5px;
    width: 75px;
    height: 30px;
    cursor: pointer;
}

.firstpage{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.firstline{
    padding-top: 50px;
    margin-bottom: 0;
    font-size: 3.5em;
    font-family: netflix-sans-regular;
    color: white;
}

.secondline{
    margin-top: 8px;
    font-size:  1.25em;
    font-family: netflix-sans-thin;
    color: white;
}

.thirdline{
    font-size: 1.1em;
    font-family: netflix-sans-thin;
    color: white;
}

.wrapper{
    max-width: 700px;
}

.emailbox{
    font-size: 15px;
    margin-right: 0;
    height: 50px;
    width: 500px;
}

.getstarted{
    border: #e50914;
    text-align: center;
    background-color: #e50914;
    color: white;
    font-family: netflix-sans-regular;
    font-size: 1.5em;
    height: 55px;
    margin-left: 0;
}

.email{
    display: flex;
    flex-shrink: 1;
    align-items: center;
}

.secondpage{
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: black;
    border-top: 8px solid #242424;
}
.windowtext{
    width: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;
}

.pagefirstline{
    font-size: 3em;
    font-family: netflix-sans-regular;
    color: white;
    margin-bottom: 0%;
}

.pagesecondline{
    margin-top: 10px;
    font-family: netflix-sans-regular;
    color: white;
}

.thirdpage{
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: black;
    border-top: 8px solid #242424;
}

.fourthpage{
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: black;
    border-top: 8px solid #242424;
}

.fifthpage{
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: black;
    border-top: 8px solid #242424;
}

.faq{
    height: 120vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: black;
    border-top: 8px solid #242424;
}

.faqtext{
    margin-top: 50px;
    font-size: 2.5em;
    font-family: netflix-sans-regular;
    color: white;
}

.parent{
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: white;
    background-color: #383434;
    border: 5px solid black;
    width:750px;
    height: 80px;
}

.childques{
    font-family: netflix-sans-regular;
    font-size: 25px;
    margin-left: 20px;
}

.childplus{
    font-family: netflix-sans-regular;
    font-size: 50px;
    margin-right: 20px;
}

.thirdlinebottom{
    font-size: 1.1em;
    font-family: netflix-sans-thin;
    color: white;
    margin-top: 80px;
}

footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 45vh;
    background-color: black;
    border-top: 8px solid #242424
}

.contactchild{
    font-size: 18px;
    font-family: netflix-sans-regular;
    text-align: center;
    color: #75736f;
}

.contactparent{
    margin-top: 80px;
    padding: 20px;
    display: flex;
    align-items: flex-start;
    width: 800px;

}

.links{
    display: flex;
    flex-direction: row;
    height:150px;
    width:800px ;
}

.firstbox{
    display: flex;
    flex-direction: column;
    height: 148px;
    width: 200px;
}

.secondbox{
    display: flex;
    flex-direction: column;
    height: 148px;
    width: 200px;
}

.thirdbox{
    display: flex;
    flex-direction: column;
    height: 148px;
    width: 200px;
}

.fourthbox{
    display: flex;
    flex-direction: column;
    height: 148px;
    width: 200px;
}

.link{
    font-family: netflix-sans-regular;
    font-size: 15px;
    padding-bottom: 20px;
    text-decoration: none;
    color: #75736f;
}

.bottomoption{
    margin-top: 20px;
    width:800px;
}

.bottomtextparent{
    margin-top: 20px;
    width: 800px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.bottomtextchild{
    font-size: 12px;
    font-family: netflix-sans-regular;
    color:#75736f;
}
